<div class="row marketing">
  <h4>All Facilities</h4>
  <p>
    Here's a list of all the CHS facilities running Medhost clinicals.
  </p>
  <span class="pull-right">Showing {{facilities.length}} facilities</span>
</div>
<table class="table table-hover table-striped">
    <tr>
        <th>Hosp #</th>
        <th>City</th>
        <th>State</th>
        <th>Hospital Name</th>
        <th><div style="width:75px">Reports</div></th>
    </tr>
    <tr ng-repeat="facility in facilities | orderBy:'city':reverse" 
        ng-mouseenter="showActions = true" ng-mouseleave="showActions = false">
        <td><div style="min-height:25px">{{facility.facilityId}}</div></td>
        <td>{{facility.city}}</td>
        <td>{{facility.state}}</td>
        <td>{{facility.name}}</td>
        <td>
            <div class="btn-group" ng-show="showActions">
              <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                Reports <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://localhost/api/test.xlsx">Formulary</a></li>
                <li><a href="http://localhost/api/test.xlsx">Order Sets</a></li>
                <li><a href="http://localhost/api/test.xlsx">IV Pack</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost/api/test.xlsx">Export All</a></li>
              </ul>
            </div>
        </td>
    </tr>
</table>
<!-- TODO replace this with a spinner -->
<div ng-show="loading">I'm loading</div>